/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        hm: hold_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        hm_yeet: hold_mod_yeet {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            hold-while-undecided;
            bindings = <&kp>, <&kp>;
        };

        lt_hp: layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <105>;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_lparen {
            bindings = <&kp LPAR>;
            key-positions = <4 5>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_lbrace {
            bindings = <&kp LBRC>;
            key-positions = <18 19>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <32 33>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_pipe {
            bindings = <&kp PIPE>;
            key-positions = <29 30>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_rparen {
            bindings = <&kp RPAR>;
            key-positions = <8 9>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_rbrace {
            bindings = <&kp RBRC>;
            key-positions = <22 23>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <34 35>;
            timeout-ms = <50>;
            layers = <0>;
        };

        combo_bslh {
            bindings = <&kp BSLH>;
            key-positions = <38 39>;
            timeout-ms = <50>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&lt_hp 1 ESC  &kp Q       &kp W  &kp E            &kp R         &kp T               &none  &none  &kp Y           &kp U         &kp I      &kp O    &kp P          &lt_hp 2 MINUS
&kp TAB       &kp A       &kp S  &kp D            &kp F         &kp G               &none  &none  &kp H           &kp J         &kp K      &kp L    &kp SEMI       &kp EQUAL
&kp LSHFT     &lt_hp 2 Z  &kp X  &kp C            &kp V         &kp B                             &kp N           &kp M         &kp COMMA  &kp DOT  &lt_hp 1 FSLH  &kp SQT
                                 &hm LCTRL GRAVE  &hm LALT DEL  &hm_yeet LGUI BSPC                &hm RGUI SPACE  &hm RALT RET  &kp RCTRL
            >;
        };

        lower_layer {
            display-name = "NAV/FN";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &none  &none  &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(UP_ARROW)  &kp LA(RIGHT)  &kp PG_UP      &trans
&trans  &kp F6  &kp F7  &kp F8  &kp F9   &kp F10  &none  &none  &kp LEFT      &kp DOWN      &kp UP            &kp RIGHT      &trans         &trans
&trans  &trans  &trans  &trans  &kp F11  &kp F12                &kp LG(LEFT)  &kp LG(DOWN)  &kp LG(UP_ARROW)  &kp RG(RIGHT)  &kp PAGE_DOWN  &trans
                        &trans  &trans   &trans                 &trans        &trans        &trans
            >;
        };

        raise_layer {
            display-name = "NUM/SYM";
            bindings = <
&trans  &kp EXCL   &kp AT    &kp HASH  &kp DLLR  &kp PRCNT  &none  &none  &kp N7     &kp N8  &kp N9      &trans  &trans  &bt BT_CLR_ALL
&trans  &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR   &none  &none  &kp N4     &kp N5  &kp N6      &trans  &trans  &bt BT_NXT
&trans  &trans     &trans    &trans    &trans    &trans                   &kp N1     &kp N2  &kp N3      &trans  &trans  &bootloader
                             &trans    &trans    &trans                   &kp COMMA  &kp N0  &kp PERIOD
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
